body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f1f5f9;
}

nav {
    background: #0f172a;
    color: white;
    padding: 15px;
    text-align: center;
}

.hero {
    background: #2563eb;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

section {
    background: white;
    margin: 30px auto;
    padding: 25px;
    max-width: 900px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

h2 {
    color: #0f172a;
    margin-bottom: 10px;
}


footer {
    text-align: center;
    padding: 10px;
    background: #e5e7eb;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f172a;
    padding: 15px 20px;
}

.navbar h1 {
    color: white;
    margin: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }

    section {
        margin: 15px;
    }
}

