body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f6f8;
}

nav {
    background: #0f172a;
    color: white;
    padding: 15px;
    text-align: center;
}

.hero {
    background: #2563eb;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #0f172a;
}

footer {
    text-align: center;
    padding: 10px;
    background: #e5e7eb;
}
